---
import Link from './Link.astro';
import { pickRelatedIntroForRoute } from '../lib/related-intros';
import type { RouteRef } from '../lib/links';

interface Props {
  to: RouteRef;
  label: string;
  intro?: string;
}

const { to, label, intro } = Astro.props;
const introText = intro ?? pickRelatedIntroForRoute(to);
---

<div class="related-link-callout">
  <span class="related-link-arrow" aria-hidden="true">-&gt;</span>
  <span class="related-link-intro">{introText}:</span>
  <Link to={to}>{label}</Link>
</div>